@using Advantshop.Models;
@using System.Linq;

@model List<Category>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <article>


        <div class="advertising">

            <div class="slider-container">
                <div class="slider-track">
                    <img src="img/Баннер-5(исп).jpg">
                    <img src="img/Баннер-2(исп).jpg">
                    <img src="img/Баннер-3(исп).jpg">
                    <img src="img/Баннер-4(исп).jpg">
                </div>
            </div>
            <div class="slider-buttoms">
                <a class="btn-prev"><img src="img/стрелка.svg"></a>
                <a class="btn-next"><img src="img/стрелка.svg"></a>
            </div>
            <div class="dots-wrapper">
                <span class="dot"><img class="active" src="img/Dot.svg"></span>
                <span class="dot"><img src="img/Dot.svg"></span>
                <span class="dot"><img src="img/Dot.svg"></span>
                <span class="dot"><img src="img/Dot.svg"></span>
            </div>
        </div>

        </div>

        <div class="features">
            <div class="group-items">
                <div class="feature-item">
                    <img src="img/prosent.png">
                    <p>Акции и скидки для постоянных клиентов</p>
                </div>
                <div class="feature-item">
                    <img src="img/Star Icon.png">
                    <p>Качественные услуги и сервис</p>
                </div>
                <div class="feature-item">
                    <img src="img/Vector (1).png">
                    <p>Широкий ассортимент товаров</p>
                </div>
            </div>
        </div>

        <div class="popular">
            <p class="popular-h2">Популярные категории</p>
            <div class="popular-items">
                <div class="catalog-item">
                    <img src="img/clothes.png">
                    <p>Одежда</p>
                </div>
                <div class="catalog-item">
                    <img src="img/furniture.png">
                    <p>Мебель</p>
                </div>
                <div class="catalog-item">
                    <img src="img/appliances.png">
                    <p>Бытовая техника</p>
                </div>
                <div class="catalog-item">
                    <img src="img/sport-clothes.png">
                    <p>Спортивные товары</p>
                </div>
                <div class="catalog-item">
                    <img src="img/soap.png">
                    <p>Косметика</p>
                </div>
                <div class="catalog-item">
                    <img src="img/garden.png">
                    <p>Садовая техника</p>
                </div>
            </div>
        </div>

        <div class="new-and-price">
            <p class="new-and-price-h2">Новинки</p>
            <a href="#">Посмотреть все новинки</a>
            <div class="new-items">
                <div class="catalog-new-item">
                    <img class="frame" src="img/img-slide.svg">
                    <div class="about-item">
                        <p class="about-item-text">Прогулочная коляска Valco Baby Snap 4 </p>
                        <img class="stars" src="img/stars.png">
                        <p class="stock">В наличии </p>
                        <b class="price">16 790 руб.</b>
                        <div class="in-box-first">
                            <img src="img/корзина 2.png">
                            <p>В корзину</p>
                        </div>
                    </div>
                </div>

                <div class="catalog-new-item">
                    <img class="frame" src="img/img-slide.svg">
                    <div class="about-item">
                        <p class="about-item-text">Смартфон Xiaomi Mi 9 Lite 6/128GB </p>
                        <img class="stars" src="img/stars.png">
                        <p class="stock">В наличии</p>
                        <b class="price">23 600 руб.</b>

                        <div class="in-box-second">
                            <img src="img/корзина 2.png">
                            <p>В корзину</p>
                        </div>

                    </div>
                </div>

                <div class="catalog-new-item">
                    <img class="frame" src="img/img-slide.svg">
                    <div class="about-item">
                        <p class="last-text">Моноблок 27" Apple iMac Pro</p>
                        <img class="stars" src="img/stars.png">
                        <p class="stock">В наличии</p>
                        <b class="price last">426 000 руб.</b>
                        <div class="in-box-three">
                            <img src="img/корзина 2.png">
                            <p>В корзину</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="hit">
            <p class="hit-h2-new">Хиты продаж</p>
            <a class="hit-a" href="#">Посмотреть все новинки</a>
            <div class="hit-about-item">

                <div class="catalog-hit-item">
                    <img class="slide" src="img/img-slide.svg">
                    <div class="about-hit">
                        <p class="first-text">Краски для сухих помещений</p>
                        <img class="hit-stars" src="img/stars.png">
                        <p class="hit-stock">В наличии </p>
                        <b class="hit-price">16 790 руб.</b>
                        <div class="hit-box">
                            <img src="img/корзина 2.png">
                            <p>В корзину</p>
                        </div>
                    </div>
                </div>

                <div class="catalog-hit-item">
                    <img class="slide" src="img/img-slide.svg">
                    <div class="about-hit">
                        <p class="hit-item-text">Блуза Concepti Mi<br> 9 Lite 6/128GB </p>
                        <img class="hit-stars" src="img/stars.png">
                        <p class="hit-stock">В наличии </p>
                        <b class="hit-price">23 600 руб.</b>
                        <div class="hit-box">
                            <img src="img/корзина 2.png">
                            <p>В корзину</p>
                        </div>
                    </div>
                </div>

                <div class="catalog-hit-item">
                    <img class="slide" src="img/img-slide.svg">
                    <div class="about-hit">
                        <p class="hit-item-text">Диван Лени Textile<br> Rustic </p>
                        <img class="hit-stars" src="img/stars.png">
                        <p class="hit-stock">В наличии</p>
                        <b class="hit-price">426 000 руб.</b>
                        <div class="box-last-hit">
                            <img src="img/корзина 2.png">
                            <p>В корзину</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="items-bottom">

                <p class="button one" href="/">&larr;</p>
                <p class="button two" href="/">1</p>
                <p class="button three" href="/">2</p>
                <p class="button four" href="/">3</p>
                <p class="button five" href="/">&rarr;</p>

                <p class="more">Вы посмотрели 24 из 1045 товаров</p>
                <p class="but-more">Показать еще</p>
            </div>
        </div>

        <div class="about-us">
            <p class="h2">INTEC:Universe LITE - интернет-магазин с конструктором дизайна на редакции 1C-Битрикс «СТАРТ»</p>
            <div class="about-par">
                <p>
                    INTEC.UniverseLite - первый конструктор интернет-магазинов на редакции «СТАРТ» 1C-Битрикс. Решение
                    идеально подойдет для быстрого запуска современного и многофункционального интернет-магазина на редакции
                    «СТАРТ», без лишних расходов и привлечения сторонних специалистов. INTEC.UniverseLite может легко
                    трансформироваться в отраслевое решение любой сферы бизнеса
                </p>
                <a href="#">Подробнее</a>
            </div>
        </div>

        <div class="articles">
            <p class="articles-h2">Статьи</p>
            <div class="articles-items">
                <div class="articles-item">
                    <img class="first-img" src="img/book.png">
                    <h3 class="first-h3">Оставьте отзыв, чтобы помочь другим</h3>
                    <p class="first-p">
                        Стильная и независимая. Легко управляйте средствами на вашем счёте.
                        Получайте информацию о ваших финансах, платежах и переводах при помощи сообщений.
                    </p>
                </div>

                <div class="articles-item">
                    <img class="second-img" src="img/terminal.png">
                    <h3 class="second-h3">Где купить терминал для эквайринга</h3>
                    <p class="second-p">
                        Стильная и независимая. Легко управляйте средствами на вашем счёте. Получайте информацию
                        о ваших финансах, платежах и переводах при помощи сообщений.
                    </p>
                </div>

                <div class="articles-item">
                    <img class="three-img" src="img/appletelefons.png">
                    <h3 class="three-h3">Как выбрать свой идеальный телефон</h3>
                    <p class="three-p">
                        Подключите автоплатёж и будьте уверены, что налог оплачен в срок.
                        Вам не придётся тратить время на поиск суммы к уплате в личном кабинете налогоплательщика.
                    </p>
                </div>
            </div>
        </div>
        <div class="articles-about">
            <p class="articles-about-h3">Широкий ассортимент и высокое качество</p>
            <p class="articles-about-p">
                Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское обеспечение
                нашей деятельности требует определения и уточнения дальнейших направлений развития.
                Как уже неоднократно упомянуто,<span class="op4">
                    базовые сценарии поведения пользователей, которые представляют собой
                    яркий пример континентально-европейского
                </span><span class="op3">
                    типа политической культуры, будут рассмотрены исключительно
                    в разрезе маркетинговых и финансовых
                </span><span class="op2">
                    предпосылок.Являясь всего лишь частью общей картины,
                    непосредственные участники технического прогресса
                </span><span class="op1">
                    рассмотрены исключительно в разрезе маркетинговых
                    и финансовых предпосылок.
                </span>
                <span class="opacity">
                    Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское обеспечение нашей деятельности требует
                    определения и уточнения дальнейших направлений развития. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей,
                    которые представ Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское обеспечение нашей деятельности требует
                    определения и уточнения дальнейших направлений развития. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, которые представ
                    Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское обеспечение нашей деятельности требует определения и уточнения дальнейших
                    направлений развития. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, которые представ
                </span>
            </p>
            <p class="articles-about-go-more">Читать далее</p>
        </div>

    </article>
    <aside>
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-menu">
                    <ul>

                        @foreach (var p in Model)
                        {
                            if (p.CategoryID > 0)
                            {
                                <li><p class="sidebar-par">@p.Name</p><p class="arr-rigth"><i class="li-right li-right1"></i></p></li>
                            }
                        }
              
                    </ul>
                </div>
            </div>

            <div class="sidebar-middle">
                <h3 class="h3">Статьи</h3>
                <div class="sidebar-items">
                    <div class="sidebar-item-first">
                        <p class="sidebar-item-intro">Меган Фокс в апрельском номере журнала Jalouse</p>
                        <p class="sidebar-item-date">03 апреля 2015</p>
                    </div>
                    <div class="sidebar-item-second">
                        <p class="sidebar-item-intro">Состоялся показ Armani Prive на Неделе высокой моды в Париже</p>
                        <p class="sidebar-item-date">11 марта 2015</p>
                    </div>
                    <div class="sidebar-item-three">
                        <p class="sidebar-item-intro">Облачные перспективы Windows-8</p>
                        <div class="sidebar-item">
                            <p class="sidebar-item-date">11 февраля 2015</p>
                        </div>
                        <p class="sidebar-item-date all">Все новости</p>
                    </div>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-form">
                        <p class="sidebar-form-h3">Проверить статус заказа</p>
                        <input class="sidebar-form-input" type="text" placeholder="Введите номер заказа">
                        <button class="sidebar-form-but">Проверить</button>
                    </div>
                </div>

                <div class="sidebar-poll">
                    <div class="sidebar-poll-radio">
                        <p class="sidebar-poll-radio-h3">Опрос</p>
                        <p class="sidebar-poll-question">Как вам новый дизайн?</p>

                        <div class="sidebar-poll-radio-radio">
                            <label class="label1" for="radio-1">
                                <input id="radio-1" type="radio" name="radio" value="1">
                                <span class="fake"></span>
                                <span class="sidebar-poll-text1">Очень удобно!</span>
                            </label>


                            <label class="label2" for="radio-2">
                                <input id="radio-2" type="radio" name="radio" value="2">
                                <span class="fake"></span>
                                <span class="sidebar-poll-text2">Не пользуюсь, хватает одной темы</span>
                            </label>


                            <label class="label3" for="radio-3">
                                <input id="radio-3" type="radio" name="radio" value="3">
                                <span class="fake"></span>
                                <span class="sidebar-poll-text3">Что такое трансформер?</span>
                            </label>
                        </div>
                        <button>Голосовать</button>
                    </div>
                </div>
                <div class="sidebar-img">
                    <img src="img/img-vk.png" alt="картинка вк">
                </div>
            </div>
    </aside>
</main>
<div class="clearfix"></div>